body {
  margin: 0;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(180, 241, 180);
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h3 {
  font-size: 30px;
  background-color: rgb(42, 210, 42);
  display: inline-block;
  border-radius: 20px;
  padding: 20px;
  font-family:'Courier New', Courier, monospace;
  color:rgb(232, 250, 97);
}

img {
  max-width: 300px;
  max-height: 300px;
  border-radius: 5px;
}

nav {
  background: rgb(121, 243, 113);
  display: flex;
  padding:7px;
  align-items: center;
  justify-content: space-between;
}

